body {
 padding-top: 80px;
 background-color: #F9FCFF;
}

.navbar-brand {
  font-size: 25px;
 
}


#nav {
  min-height: 80px;
  max-height:80px;
  background-color: #C5D5EA;
}

#mainNav {
  min-height: 80px;
  max-height:80px;
  background-color: #C5D5EA;
}

#smallLogo {
  display:none !important;

}

@media  screen and (max-width: 767px) {

  #nav {
    min-height: 60px;
    max-height:none;
  }

  #mainNav {
    min-height: 60px;
    max-height:none;
  }

  #bigLogo {
    display:none !important
  }

  #smallLogo {
    display:inline !important
  }

  body {
    padding-top: 70px;
    padding-right:0;
    margin-right:0;
    background-color: #F9FCFF;
   }

}




.FUCK:hover {
  color:black
}