
/* Feather logos */
.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}


/* Section taskbar */
.flexSubclass {
  flex: 1 0 37%; /* explanation below */
  margin: 5px;
  border-bottom: 0.5px solid lightgray;
}

.taskButton {
  height: 20px; width:20px; margin-right:10px
}

.taskButton:hover {
  background-color: lightgray;
}


body {
  padding-right:10px;
}
/*
 * Sidebar
 */


.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px; /* Height of navbar */
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */


#sidebar {
  margin-top: 79.5px;
}

.chapButton {
  height:20px;
  width:15px;
  border-radius: 50px;
  margin-right: 1px;
}

.chapButton:hover {
  background-color: lightgray;

}

.chapTitle {
  padding-right: 30px;
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }



.chapterEntry {

}

.chapterEntry div {


}

.chapterTitle {
  overflow: visible; padding: 0;text-wrap: nowrap; white-space: nowrap
}

.chapButtons {
  overflow: visible; background-color: none;
}


.progressTrackerContainer {
  margin-right: 50px; display: block; padding: 50px; float:left
}


@media  screen and (max-width: 600px) {

  .progressTrackerContainer {
      float:left
  }
}